body{
    background-color: aqua;
}
.summary-box {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: left;
}
.summary-box h3 {
    margin-top: 0;
}